<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employee)">
<div class=" panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Create Employee List</h3>
  </div>
  <div class="panel-body">
  <div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="employee.name"  class="form-control" required>
  </div>
    <div class="form-group">
      <label for="gender">Gender</label>
     <div class="form-control">
       <label for="" class="radio-inline">
       <input type="radio" value="male" name="gender" [(ngModel)]="employee.gender" >
         Male
       </label>

       <label for="" class="radio-inline">
         <input type="radio" value="female" name="gender" [(ngModel)]="employee.gender">
         Female
       </label>

       <label for="" class="radio-inline">
         <input type="radio" value="other" name="gender" [(ngModel)]="employee.gender">
         Other
       </label>
     </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="employee.email" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="department">Department</label>
      <input type="text" id="department" name="department" [(ngModel)]="employee.department" class="form-control">
    </div>

    <div class="form-group">
      <label for="mobilenumber">Mobile No</label>
      <input type="text" id="mobilenumber" name="mobilenumber" [(ngModel)]="employee.mobilenumber" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="photopath">Photo- Path</label>
      <input type="text" id="photopath" name="photopath" [(ngModel)]="employee.photopath" class="form-control">
    </div>

    <div class="form-group">
      <button type="button" (click)="tooglepreviewofphotopath()" class="btn btn-primary">
       {{previewofphotopath? "Hide" : "Show"}} Preview
      </button>
    </div>

    <div class="form-group">
      <img [src]="photopath" height="130" width="130" *ngIf="previewofphotopath"/>
    </div>

  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
  </div>
</div>
</form>

<h4>Angular Generated Form Model:</h4>   {{employeeForm.value | json}}
